@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius: 0 0 8px 8px;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  min-height: 0px;
}

window#waybar {
  background-color: transparent;
}

#waybar>box {
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin: 0px 2px 3px 2px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 6px;
}

.modules-right {
  margin-right: 6px;
  font-size: 12px;
}

.modules-center {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  border-right: 1px solid alpha(@foreground, 0.2);
  padding: 0 20px;
  font-size: 12px;
}

#workspaces {
  padding: 0;
  margin: 5px 8px;
  padding-top: 2px;
}

#workspaces button {
  all: initial;
  font-size: 14px;
  min-width: 15px;
  min-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0.65;
  background-image: linear-gradient(@foreground, @foreground);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: bottom center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#workspaces button.active {
  color: @background;
  opacity: 1.0;
  padding: 0;
  margin: 0;
  background-size: 100% 2px;
  font-size: 14px;
}

#workspaces button.empty {
  opacity: 0.3;
}

#window {
  padding: 2px;
  padding-right: 0;
}

#custom-omarchy {
  padding: 2px 0px 2px;
  margin-right: 0px;
  font-size: 13px;
  margin-left: 4px;
}

#hyprland-window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#custom-weather,
#backlight,
#clock,
#memory,
#disk,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 14px;
  margin: 0 6px;
  font-size: 12px;
}

#custom-expand-icon {
  margin-right: 12px;
}

#custom-update {
  margin-left: 0px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 2px;
  margin-right: 3px;
  font-size: 12px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

#custom-screenrecording-indicator {
  font-size: 12px;
  padding: 1px 0px 1px;
  margin-left: 0px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
  to {
    color: @background;
  }
}

tooltip {
  border-radius: 0px;
  padding: 4px;
  background: @background;
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 12px;
}

tooltip label {
  color: @foreground;
}

#mpris {
  padding-top: 2px;
  margin-left: 8px;
  font-size: 12px;
  color: alpha(@foreground, 0.95);
  animation: repeat;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #4a4a4a;

  }
}

@keyframes blink-inhibitor {
  to {
    color: @background;
  }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @foreground;
}

#idle_inhibitor.activated {
  margin-right: 5px;
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}